<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A12A45481DCF8C76002977DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12A455C1DCF8C77002977DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12A45671DCF8C77002977DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
